.Layout {
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}